@model Examen2_ASP.Models.Action

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Action</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exercice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exercice.ExerciceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weigth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weigth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ActionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
